RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC] 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?vastolorde\.space [NC] 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?vastolorde\.space.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?192\.168\.1\.64 [NC] 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?192\.168\.1\.64.*$ [NC] 
RewriteRule \.(gif|jpg|png)$ - [F]




